#game-window{
	width: 780px;
	height: 400px;
	background-color: black;
	position: relative;
}
#bubble-red{
	width: 30px;
	height: 30px;
	background-color: red;
	border-radius: 15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	position: absolute;
	/*display: none;*/
	/*top: 360px;*/
}
#bubble-green{
	width: 20px;
	height: 20px;
	background-color: green;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	position: absolute;
	/*display: none;*/
	/*top: 360px;*/
}
#bubble-yellow{
	width: 10px;
	height: 10px;
	background-color: yellow;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	position: absolute;
	/*display: none;*/
	/*top: 360px;*/
}
