#game-window{
	width: 780px;
	height: 400px;
	background-color: black;
	position: relative;
}
#bubble-1{
	width: 40px;
	height: 40px;
	background-color: red;
	border-radius: 20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	position: absolute;
	/*display: none;*/
	top: 360px;
}
#bubble-small{
	width: 20px;
	height: 20px;
	background-color: yellow;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	position: absolute;
	/*display: none;*/
	top: 360px;
}
