#game-window{
	width: 780px;
	height: 400px;
	background:url(../images/bg1.jpg);
	position: relative;
	overflow: hidden;
}
.bubble-red{
	background-color: red;
	position: absolute;
}
.bubble-green{
	background-color: green;
	position: absolute;
	/*display: none;*/
	/*top: 360px;*/
}
.bubble-yellow{
	background-color: yellow;
	position: absolute;
	/*border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;*/
}
.bullet{
	position: absolute;
	background:url(../images/bullet.png);
}
#player{
	background-color: black;
	position: absolute;
	z-index: 1;
}